// Place all the styles related to the tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "font-awesome-sprockets";
@import "font-awesome";
@import "bootstrap";


.detail-card {
  background-color: #DCDCDC;
  border: 1px solid #808080;
  padding: 10px;
}

